# Dependencies
node_modules/
backend/venv/
backend/__pycache__/
*.pyc

# Database & Vector DB
*.db
*.sqlite
backend/chroma_db/

# Build Outputs
frontend/dist/
frontend/build/

# Environment & IDE
.env
.DS_Store
.vscode/
.idea/
